#icon-genesis-club-lite{ background-image : url(../images/icon-32.png); background-repeat: no-repeat; }
#poststuff { margin-right: 20px; }
#poststuff img { max-width : 100%; }
#poststuff input[type=checkbox] { margin-left: 2px; }
#poststuff input.error, #poststuff select.error { border: 1px solid red; background-color : #FEE; } 
#poststuff div#message { margin-left: 10px; display: inline; padding: 10px; }
#poststuff div#message div.updated { margin-left: 30px; padding: 8px; display: inline; }
#poststuff label { display: inline-block; min-width: 150px; margin-right: 10px;}
#poststuff .warning { color: red; font-weight: bold; } 
p.notice { font-size: 1.6em; font-weight: bold; }
p.important { font-size: 1.2em; color: red; }
img.dashed-border { padding: 10px; border: 1px dashed silver; max-width: 100%; } 
